    

<hl>
<div style="text-align:center"><font color="blue'>
Predicción usando algoritmos de Clasificación</font></div></h1>
<hr>
</br>
<h2><div style:"text-align:center">Ingresa los valores </div></h2>
</br>
<div class='container'>
     <div clasa='row'>
         <div class='col-xs-6 col-xs-offset-4'>
           <form method="POST" action="/prediccion">
              <div class='form-group'>
                <label for="var_1">
                <p class="font-weight-bold">Semestre</p>
                </label>
                <input type='text' name="var_1">
             </div>
             <div class='form-group'>
                 <label for="var_2">
                 <p class="font-weight-bold">Promedio</p>
                 </label>
                 <input type='text' name="var_2">
             </div>
             <input class='btn btn-primary' type='submit' value='Enviar'>
          </form>
      </div>
   </div>
</div>
